@font-face {
  font-family: "Libre Franklin";
  src: url("../font/LibreFranklin-Regular.ttf");
}
@font-face {
  font-family: "Libre Franklin Bold";
  src: url("../font/LibreFranklin-Bold.ttf");
}
@font-face {
  font-family: "Lucida Grande";
  src: url("../font/LucidaGrande-Regular.ttf");
}
h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 35px;
  line-height: 43px;
  font-weight: 400;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 35px;
  line-height: 43px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

input[type=radio] {
  display: none;
}

::-webkit-input-placeholder {
  font-size: 16px;
}

::-moz-placeholder {
  font-size: 16px;
}

:-moz-placeholder {
  font-size: 16px;
}

:-ms-input-placeholder {
  font-size: 16px;
}

.head {
  background: url("../img/Header.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(76, 76, 76, 0.35);
  width: 100%;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  text-align: center;
}
.head__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head__caption {
  font-family: "Lucida Grande";
  letter-spacing: 2.5px;
  font-size: 60px;
  font-weight: bold;
  line-height: 71px;
}
.head__subtitle {
  line-height: 43px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.head__text {
  font-size: 18px;
  line-height: 27px;
  width: 503px;
  margin-bottom: 60px;
}

.card {
  width: 360px;
  height: 454px;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding-left: 5px;
}
.card__header {
  font-size: 18px;
  font-family: "Libre Franklin Bold", sans-serif;
  line-height: 21px;
  color: #333;
}
.card label {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}
.card__email, .card__name, .card__phone {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card input {
  width: 280px;
  height: 43px;
  padding-left: 8px;
  border: 1px solid #827d7d;
  border-radius: 3px;
}
.card input:active {
  border: 1px solid #3358de;
}
.card__button {
  height: 43px;
  width: 280px;
  border: none;
  border-radius: 3px;
  background-color: #3358de;
  box-shadow: 0 3px 4px 0 rgba(72, 72, 72, 0.5);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.card__button:hover {
  background-color: #3750ae;
}

.benefit {
  width: 100%;
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefit__container {
  width: 92.8%;
  max-width: 1160px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.benefit__header {
  font-family: "Lucida Grande", sans-serif;
  color: #333;
  line-height: 46px;
}
.benefit__paragraph {
  color: #333;
  width: 460px;
  font-size: 16px;
  line-height: 27px;
}
.benefit__paragraph:first-of-type {
  margin: 35px 0 25px 0;
}
.benefit__images {
  height: 339px;
  max-width: 560px;
  width: 48.28%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}
.benefit__image {
  width: 46.43%;
  margin-top: 24px;
}
.benefit__image img {
  width: 100%;
}
.benefit__caption {
  text-transform: uppercase;
  margin: 15px 0 12px 0;
  font-size: 16px;
  font-weight: 600;
}
.benefit__text {
  font-size: 16px;
  line-height: 23px;
}

.section-header {
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-header__caption {
  font-family: "Lucida Grande", sans-serif;
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 20px;
}
.section-header__text {
  width: 485px;
  font-size: 16px;
  line-height: 27px;
}

.features {
  width: 100%;
  background: #f8f8f8;
  min-height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features__container {
  width: 92.8%;
  height: 610px;
  max-width: 1160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.features__block {
  display: flex;
  max-width: 1145px;
  margin-right: 15px;
  margin-top: 60px;
}
.features__block img {
  height: 430px;
  width: 58%;
  max-width: 560px;
}
.features__collection {
  margin-top: 16px;
  margin-left: 100px;
  max-width: 485px;
}
.features__item {
  width: 100%;
  max-width: 485px;
  position: relative;
}
.features__item:nth-child(1) .item__header::before {
  background: url("../img/css_sprites.png") -10px -10px;
}
.features__item:nth-child(2) .item__header::before {
  background: url("../img/css_sprites.png") -10px -65px;
}
.features__item:nth-child(3) .item__header::before {
  background: url("../img/css_sprites.png") -65px -10px;
}
.features__item .item__header {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}
.features__item .item__header::before {
  width: 35px;
  height: 35px;
  position: absolute;
  content: "";
  left: -60px;
  top: -8px;
}
.features__item .item__text {
  line-height: 27px;
  margin-bottom: 48px;
}

.images-collection {
  height: auto;
  display: flex;
}
.images-collection__image {
  width: 25%;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 660px;
}
.questions__container {
  max-height: 455px;
}
.questions__list {
  margin-top: 60px;
  max-width: 1160px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.questions__element {
  width: 48.27%;
}
.questions__caption {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  margin-bottom: 15px;
}
.questions__answer {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 50px;
}

input[type=radio]:checked + label span,
input[type=radio]:checked + label span {
  transition: all 0.5s;
  transform: rotateZ(45deg);
}

input[type=radio]:checked + label + p {
  display: block;
}

.footer {
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  min-height: 70px;
}
.footer__header {
  margin-top: 3px;
  font-size: 16px;
  color: #333;
  line-height: 27px;
  text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .head {
    height: 826px;
    background: url("../img/Header1024.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(76, 76, 76, 0.35);
  }
  .head__caption {
    margin-top: 30px;
  }
  .head__subtitle {
    margin: 36px 0 20px 0;
  }
  .head__text {
    margin-bottom: 50px;
  }

  .benefit {
    height: 417px;
  }
  .benefit__container {
    width: 92.5%;
  }
  .benefit__header {
    font-size: 30px;
    line-height: 40px;
  }
  .benefit__paragraph:first-of-type {
    margin: 20px 0 15px 0;
  }
  .benefit__images {
    margin: 44px 3px 0 0;
  }

  .features {
    height: 823px;
  }
  .features__container {
    height: 683px;
  }
  .features .section-header__caption {
    font-size: 30px;
  }
  .features__block img {
    height: 406px;
  }
  .features__collection {
    margin: 10px 0 0 80px;
  }
  .features__item {
    width: 320px;
  }
  .features__item .item__header::before {
    left: -50px;
  }

  .questions__container {
    max-height: 510px;
    width: 92.2%;
  }
  .questions__element {
    height: 202px;
  }

  .footer__header {
    margin-top: 15px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .head {
    height: 852px;
    background: url("../img/Header768.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(76, 76, 76, 0.35);
  }
  .head__subtitle {
    font-size: 32px;
    margin: 35px 0 20px 0;
  }
  .head__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 50px;
  }

  .benefit {
    height: 737px;
  }
  .benefit__info {
    margin: -5px 0 0 4px;
  }
  .benefit__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .benefit__header {
    font-size: 30px;
    line-height: 40px;
  }
  .benefit__paragraph {
    width: 82%;
  }
  .benefit__paragraph:first-of-type {
    margin: 30px 0 25px 0;
  }
  .benefit__images {
    width: 98%;
    max-width: max-content;
  }
  .benefit__images img {
    width: 335px;
    height: 208px;
  }

  .features {
    height: 1274px;
  }
  .features__container {
    height: 1190px;
  }
  .features .section-header__caption {
    font-size: 30px;
  }
  .features__block {
    width: 98%;
    height: 1030px;
    margin: 0 0 0 5px;
    align-self: flex-start;
    flex-direction: column;
  }
  .features__block img {
    max-width: 690px;
    width: 100%;
    height: 530px;
  }
  .features__collection {
    margin: 48px 0 0 55px;
    width: 91%;
    max-width: max-content;
  }
  .features__item {
    max-width: max-content;
    width: 100%;
  }

  .images-collection {
    flex-wrap: wrap;
    height: 560px;
    margin-top: -18px;
  }
  .images-collection__image {
    width: 50%;
  }

  .questions {
    height: 640px;
  }
  .questions .section-header__caption {
    font-size: 30px;
  }
  .questions__container {
    max-height: none;
    width: 92.2%;
    height: 520px;
  }
  .questions__element {
    width: 100%;
  }
  .questions__list {
    margin-top: 16px;
  }
  .questions__caption {
    padding: 16px 60px 15px 10px;
    margin: 30px 0 0 0;
    height: 50px;
    border-radius: 3px;
    background-color: #f8f8f8;
    position: relative;
  }
  .questions__caption span {
    transition-duration: 0.5s;
    position: absolute;
    right: 5px;
    background: url("../img/css_sprites.png") -65px -65px;
    width: 20px;
    height: 20px;
  }
  .questions__answer {
    display: none;
    padding: 0 0 16px 10px;
    margin: 0;
    background-color: #f8f8f8;
  }
  .questions input[type=radio]:checked + label + p {
    padding: 0 57px 16px 10px;
  }

  .footer__header {
    margin-top: 16px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .head {
    height: 1011px;
    background: url("../img/Header420.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(76, 76, 76, 0.35);
  }
  .head__content {
    margin-bottom: 40px;
  }
  .head__subtitle {
    width: 319px;
    font-size: 30px;
    margin: 81px 0 47px 0;
    line-height: 38px;
  }
  .head__text {
    width: 373px;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 98px;
  }

  .benefit {
    height: 1185px;
  }
  .benefit__info {
    margin: -5px 0 0 4px;
  }
  .benefit__container {
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 1045px;
  }
  .benefit__header {
    font-size: 30px;
    line-height: 40px;
  }
  .benefit__paragraph {
    width: 100%;
  }
  .benefit__paragraph:first-of-type {
    margin: 30px 0 25px 0;
  }
  .benefit__images {
    width: 98%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
  }
  .benefit__images img {
    width: 100%;
  }
  .benefit__image {
    width: 100%;
    margin-top: 43px;
  }
  .benefit__image .benefit__caption {
    margin: 10px 0 5px 0;
  }

  .features {
    height: 1160px;
  }
  .features__container {
    height: 1030px;
    width: 98%;
  }
  .features .section-header__caption {
    font-size: 30px;
  }
  .features .section-header__text {
    width: 449px;
    line-height: 25px;
  }
  .features__block {
    width: 98%;
    height: 1030px;
    margin: 50px 0 0 5px;
    align-self: center;
    flex-direction: column;
  }
  .features__block img {
    max-width: 690px;
    width: 100%;
    height: 346px;
  }
  .features__collection {
    margin: 38px 0 0 45px;
    width: 91%;
    max-width: max-content;
  }
  .features__item {
    max-width: max-content;
    width: 98%;
    margin-bottom: 54px;
  }
  .features__item .item__header::before {
    left: -50px;
  }

  .images-collection {
    flex-wrap: wrap;
    height: 350px;
  }
  .images-collection__image {
    width: 50%;
  }

  .questions {
    height: 654px;
  }
  .questions .section-header__caption {
    font-size: 30px;
    line-height: 38px;
  }
  .questions__container {
    max-height: none;
    width: 96%;
  }
  .questions__element {
    width: 100%;
  }
  .questions__list {
    margin-top: 28px;
  }
  .questions__caption {
    padding: 16px 60px 15px 10px;
    margin: 20px 0 0 0;
    height: 50px;
    border-radius: 3px;
    background-color: #f8f8f8;
    position: relative;
  }
  .questions__caption span {
    transition-duration: 0.5s;
    position: absolute;
    right: 5px;
    background: url("../img/css_sprites.png") -65px -65px;
    width: 20px;
    height: 20px;
  }
  .questions__answer {
    display: none;
    padding: 0 0 16px 10px;
    margin: 0;
    background-color: #f8f8f8;
  }
}

/*# sourceMappingURL=main.css.map */
